* {
  box-sizing: border-box;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.verse-content-container {
  flex: 1;
  position: relative;
}

.layout-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.layout-main.theme-active {
  background-color: var(--theme-bg-color);
  /* color: var(--theme-text-color); */
}

.themed-bg {
  background-color: var(--theme-bg-color) !important;
}

.themed-reverse {
  background-color: var(--theme-text-color) !important;
  color: var(--theme-bg-color) !important;
}

.layout-main.theme-active .themed-text {
  color: var(--theme-text-color) !important;
}
.text-themed {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.prose-themed {
  --tw-prose-body: inherit;
  --tw-prose-headings: inherit;
  --tw-prose-lead: inherit;
  --tw-prose-links: inherit;
  --tw-prose-bold: inherit;
  --tw-prose-counters: inherit;
  --tw-prose-bullets: inherit;
  --tw-prose-hr: inherit;
  --tw-prose-quotes: inherit;
  --tw-prose-quote-borders: inherit;
  --tw-prose-captions: inherit;
  --tw-prose-code: inherit;
  --tw-prose-pre-code: inherit;
  --tw-prose-pre-bg: rgba(0, 0, 0, 0.1);
  --tw-prose-th-borders: inherit;
  --tw-prose-td-borders: inherit;
}

.prose-themed * {
  color: inherit !important;
}

.prose-themed h1,
.prose-themed h2,
.prose-themed h3,
.prose-themed h4,
.prose-themed h5,
.prose-themed h6 {
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
}

.prose-themed p {
  margin-bottom: 0 !important;
  margin-top: 0.25rem !important;
}

.prose-themed ol {
  margin-bottom: 0 !important;
}

.settings-open .video-player-container {
  pointer-events: none;
}

.menu-open .video-player-container {
  pointer-events: none;
}

.menu-open .relative.w-full.max-w-\[1300px\],
.menu-open iframe {
  pointer-events: none;
}
.custom-hover-black:hover:enabled {
  color: black !important;
}

.hover-bg-gray:hover {
  background-color: #f9fafb;
}

.hover-text-black-bg-gray:hover {
  background-color: #f9fafb;
  color: black !important;
}

.hover-text-black-bg-gray:hover.themed-text,
.hover-text-black-bg-gray:hover .themed-text {
  color: black !important;
}

.hover-text-black-bg-gray:hover span {
  color: black !important;
}
/* Hide scrollbar */
.layout-main {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.layout-main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}