* {
  box-sizing: border-box;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.verse-content-container {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.layout-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.layout-main.theme-active {
  background-color: var(--theme-bg-color);
  /* color: var(--theme-text-color); */
}

.themed-bg {
  background-color: var(--theme-bg-color) !important;
}

.themed-reverse {
  background-color: var(--theme-text-color) !important;
  color: var(--theme-bg-color) !important;
}

.layout-main.theme-active .themed-text {
  color: var(--theme-text-color) !important;
}
.text-themed {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.settings-open .video-player-container {
  pointer-events: none;
}

