* {
  box-sizing: border-box;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.verse-content-container {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.layout-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}
